.product-images-slider-container {
  width: 500px;
  height: 500px;
}
.product-images-slider {
  .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .swiper-button-prev {
    left: 0;
    color: #000;
  }

  .swiper-button-next {
    right: 0;
    color: #000;
  }
}

.product-images-slider-thumbs {
  .swiper-slide {
    cursor: pointer;
    border: 3px solid #dddbdb;
    opacity: 0.5;
    border-radius: 10px;

    &-thumb-active {
      border-color: #2e7d32;
      opacity: 1;
    }
  }

  &-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
